:root {
  --grid-width: 500px;
  --grid-height: 500px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
#container {
  height: var(--grid-height);
  width: var(--grid-width);
  border: 10px solid yellow;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
.gridsq {
  background-color: rgb(240, 240, 240);
}